@font-face
	{
		font-family: Lato;
		src:url('../fonts/lato.woff2');
	}

html,body{
	width: 100%;
	font-family: 'Lato', sans-serif;
	padding: 0;
	margin: 0;
}

body{
	overflow-y: hidden;
	overflow-x: hidden;
	color: #696969;
	-webkit-user-select: none;  /* Chrome all / Safari all */
  	-moz-user-select: none;     /* Firefox all */
  	-ms-user-select: none;
  	background-color: #FFFFFF;
}

.header{
	color: #FFFFFF;
	width: 100%;
	height: 60px;
	background-color: #CB1E20;
}

.header-left{
	text-align: left;
	float: left;
	width: 50%;
	height: 100%;
	padding-left: 15px;
	display: -webkit-flex;
	display: flex;
	-webkit-flex-direction: row;
	flex-direction: row;
	-webkit-align-items: center;
	align-items: center;
	-webkit-justify-content: left;
	justify-content: left;
}

#nav-btn-container{
	float: right;
	cursor: pointer;
	height: 100%;
	display: -webkit-flex;
	display: flex;
	-webkit-flex-direction: row;
	flex-direction: row;
	-webkit-align-items: center;
	align-items: center;
	-webkit-justify-content: center;
	justify-content: center;
}

#brand{
	font-size: 18px;
}

.header-right{
	text-align: right;
	float: right;
	width: 50%;
	height: 100%;
	padding-right: 15px !important;
}

#main-container{
	position: relative;
}

#loading{
	position: absolute;
	height: 100%;
	width: 100%;
	background-color: #FFFFFF;
	z-index: 2000;
	display: -webkit-flex;
	display: flex;
	-webkit-flex-direction: column;
	flex-direction: column;
	-webkit-align-items: center;
	align-items: center;
	-webkit-justify-content: center;
	justify-content: center;
	color: #696969;
	font-size: 16px;
}

#no-transaction{
	position: absolute;
	height: 100%;
	width: 100%;
	background-color: #FFFFFF;
	z-index: 1000;
	display: -webkit-flex;
	display: flex;
	-webkit-flex-direction: column;
	flex-direction: column;
	-webkit-align-items: center;
	align-items: center;
	-webkit-justify-content: center;
	justify-content: center;
	color: #696969;
	font-size: 16px;
}

#refresh-btn{
	margin-top: 5px;
	font-size: 16px;
}

.transaction-info-container{
	width: 100%;
	height: 60px;
	background-color: transparent;
}

.transaction-left{
	float: left;
	height: 100%;
	width: 50%;
	color: #B10D10;
	font-size: 18px;
	padding-left: 15px;
	text-align: left;
	text-align: left;
}

.transaction-right{
	float: right;
	height: 100%;
	width: 50%;
	font-size: 18px;
	padding-right: 15px;
	text-align: right;
}

.user-number-label{
	color: #B10D10;
}

#user-number{
	color: #454545;
}

.transaction-details{
	display: inline-block;
	position: relative;
	top: 60%;
	transform: translateY(-50%);
}

.current-info-container{
	height: calc(100vh - 170px);
	display: -webkit-flex;
	display: flex;
	-webkit-flex-direction: column;
	flex-direction: column;
	-webkit-align-items: center;
	align-items: center;
	-webkit-justify-content: center;
	justify-content: center;
	padding-bottom: 30px;
	background-color: transparent;
}

#round-loader{
	position: relative;
	height: 260px;
	width: 260px;
	border: 8px solid #CB1E20;
	border-radius: 50%;
	display: -webkit-flex;
	display: flex;
	-webkit-flex-direction: column;
	flex-direction: column;
	-webkit-align-items: center;
	align-items: center;
	-webkit-justify-content: center;
	justify-content: center;
}

.now-serving-label{
	font-size: 22px;
	color: #454545;
}

#now-serving{
	font-weight: bold;
	font-size: 40px;
	color: #454545;
}

.places-container{
	position: absolute;
	top: calc(100% - 50px);
	height: 100vh;
	width: 100%;
	z-index: 3000;
}

.main-places-container{
	height: calc(100% - 50px);
	width: 100%;
	background-color: #FFFFFF;
	overflow-y: hidden;
	overflow-x: hidden;
}

.category-nav-container{
	height: 40px;
	width: 100%;
	display: -webkit-flex;
	display: flex;
	-webkit-flex-direction: row;
	flex-direction: row;
	-webkit-align-items: center;
	align-items: center;
	-webkit-justify-content: center;
	justify-content: center;
	padding-top: 7px;
}

.category-nav-item{
	margin-right: 10px;
	margin-left: 10px;
	font-size: 14px;
	width: 25%;
	text-align: center;
	text-transform: uppercase;
	font-weight: bold;
}


.category-nav-item:after {
    content: '';
    display: block;
    height: 2px !important;
    background: transparent;
    width: 0;
    transition: width .5s ease, background-color .5s ease;
}

.category-nav-item.active:after{
	width: 100%;
	background: #B10D10 !important;
}

.main-places{
	height: calc(100% - 90px);
	width: 300%;
	position: fixed;
}

.place-category{
	height: 100%;
	width: 100vw;
	float: left;
}

#places-btn-container{
	position: relative;
	height: 50px;
	width: 100%;
	background-color: #CB1E20;
	text-align: center;
	color: #FFFFFF;
	display: -webkit-flex;
	display: flex;
	-webkit-flex-direction: column;
	flex-direction: column;
	-webkit-align-items: center;
	align-items: center;
	-webkit-justify-content: center;
	justify-content: center;
	font-size: 16px;
	cursor: pointer;
}

#places-btn-cover{
	position: absolute;
	height: 100%;
	width: 100%;
	top: 0;
	z-index: 2000;
	background-color: #CB1E20;
}

.places-btn{
	font-size: 16px;
}

.close-places-btn-container{
	position: absolute;
	top: 0;
	right: 15px;
	height: 100%;
	display: -webkit-flex;
	display: flex;
	-webkit-flex-direction: column;
	flex-direction: column;
	-webkit-align-items: center;
	align-items: center;
	-webkit-justify-content: center;
	justify-content: center;
}

#close-places-btn{
	position: relative;
	cursor: pointer;
	display: none;
}

.navicon-button{
	display: inline-block;
	transition: 0.25s;
	cursor: pointer;
	user-select: none;
	opacity: .8; 
}

.navicon-button .navicon:before, .navicon-button .navicon:after{
	transition: 0.25s;
}

.navicon{
	position: relative;
	width: 2.5em;
	height: 3px;
	background: #fff;
	transition: 0.5s;
	border-radius: 2.5rem; 
}

.navicon:before, .navicon:after{
	display: block;
	content: "";
	height: 3px;
	width: 2.5em;
	background: #fff;
	position: absolute;
	z-index: -1;
	transition: 0.5s 0.25s;
	border-radius: 1rem; 
}

.navicon:before {
	top: .625em;
}

.navicon:after{
	top: -.625em;
}

.open:not(.steps) .navicon:before,
.open:not(.steps) .navicon:after {
	top: 0 !important; 
}

.open .navicon:before,
.open .navicon:after{
	transition: 0.5s;
	width: 2.5em;
}

.open.plus .navicon,
.open.x .navicon {
	background: transparent;
}

.open.plus .navicon:before,
.open.x .navicon:before{
	transform: rotate(-40deg);
}

.open.plus .navicon:after,
.open.x .navicon:after{
	transform: rotate(40deg);
}

.open.plus {
	transform: scale(0.75) rotate(45deg);
}

