<html>
<head>
	<link rel="stylesheet" type="text/css" href="../static/css/style.css">
	<link rel="stylesheet" type="text/css" href="../static/css/bootstrap.min.css">
</head>
<body>
	<div class="header">
		<div class="header-left">
			<span id="brand">App Yours</span>
		</div>
		<div class="header-right">
			<div id="nav-btn-container">
				<a class="navicon-button x">
			      <div class="navicon"></div>
			    </a>
		    </div>
		</div>
	</div>
</body>
	<div class="transaction-info-container">
		<div class="transaction-left"><span class="transaction-details">BPI - Makati</span></div>
		<div class="transaction-right">
		<span class="transaction-details user-number-label">Your No:</span>
		<span id="user-number" class="transaction-details">N0097</span>
		</div>
	</div>

	<div class="current-info-container">
		<div id="round-loader">
			<span class="now-serving-label">Now Serving</span>
			<span id="now-serving">N0090</span>
			<span class="estimated-time-label">Estimated Time</span>
			<span id="estimated-time">1h, 22m</span>
		</div>
	</div>

	<script src="../static/js/jquery-1.11.0.min.js"></script>
    <script src="../static/js/animations.js"></script>
    <script src="../static/js/functions.js"></script>
    <script src="../static/js/bootstrap.min.js"></script>
</html>